:root {
    --brand-color: #000000;
}

*{
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
